.enquiry-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #1f2933, #111827);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enquiry-card {
  background: rgba(0, 0, 0, 0.7);
  padding: 35px;
  border-radius: 14px;
  width: 380px;
  color: white;
}

.enquiry-card h2 {
  text-align: center;
  color: #fbbf24;
  margin-bottom: 20px;
}

.enquiry-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
}

.enquiry-card button {
  width: 100%;
  padding: 12px;
  background: #1f8a70;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.back {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  color: #fbbf24;
}
